.nav {
  width: 100%;
  margin-inline: 16px;
  display: flex;
  justify-content: center;
  gap: 100px;
  @media (768px > width) {
  }
  @media (530px > width) {
    gap: 50px;
  }

  li {
    list-style: none;
    font-size: 14px;
    position: relative; /* 追加 */
    padding-bottom: 5px; /* 追加 */
  }

  /* ::before疑似要素を追加 */
  li::before {
    content: '';
    background: #393c2a;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.3s;
  }

  li:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
