.wraper {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 500px;
  align-items: center;

  @media (880px > width) {
    flex-direction: column;
  }
  @media (530px > width) {
  }
}
p {
  font-size: 14px;
  line-height: 1.6;
}
.imgbox {
  aspect-ratio: 12/17;
  max-width: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}
