.wraper {
  padding-inline: 20px;
  /* padding-block-start: 40px; */
  display: flex;
  flex-direction: column;
  gap: 40px; /* coding と design の間隔 */

  .coding {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 30px;
    margin-inline: auto;

    @media (880px > width) {
      flex-direction: column;
    }
    @media (530px > width) {
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .design {
    display: flex;
    max-width: 995px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 30px;
    margin-inline: auto;

    @media (880px > width) {
      flex-direction: column;
    }
  }

  .heading {
    font-size: 20px;
    font-weight: 700;
  }

  p {
    max-width: 429px;
    font-size: 14px;
    line-height: 1.6;
  }
}
.skillbox {
  max-width: 176px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (880px > width) {
    display: flex;
    gap: 16px;
  }
  @media (530px > width) {
  }

  .skillImg {
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
