.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #efe6d980;
}

.close {
  position: fixed;
  top: 0;
  right: 0;
}

.box {
  position: relative;
  width: 90vw;
  height: 90vh;
  background-color: #afa199fa;
  padding: 16px;
  margin-inline: auto;
  margin-block-start: 32px;

  display: flex;
  justify-content: space-between;
  gap: 100px;

  overflow: hidden;
  @media (768px > width) {
    flex-direction: column;
    gap: 0;
  }
  /* @media (530px > width) {
  } */
}

.imgContainer {
  flex: 3;
  overflow-y: auto;

  scrollbar-width: none;

  -ms-overflow-style: none;
  @media (768px > width) {
    order: 2;
  }
}

.imgContainer::-webkit-scrollbar {
  display: none;
}

.imgbox {
  aspect-ratio: 519 / 369.68;
  margin-bottom: 30px;
}

.imgbox img {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 2.5;
  position: sticky;
  top: 0;
  height: fit-content;
  z-index: 10;
  @media (768px > width) {
    flex: 1.5;
    order: 1;
  }
}

.textContainer h2 {
  font-size: 20px;
  font-weight: 700;
  padding-block-end: 15px;
}

.textContainer h2 span {
  font-size: 16px;
  font-weight: 400;
}

.visit a {
  display: flex;
  gap: 1px;
}

.textContainer p {
  font-size: 14px;
  line-height: 1.6;
}

.skillHeading {
  display: block;
  padding-block-start: 400px;
  @media (768px > width) {
    padding-block-start: 20px;
  }
}

.skillContainer {
  display: flex;
  gap: 10px;
}

.skillBox img {
  width: 100%;
  height: auto;
}
