.wrap{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;

    .imgbox{
        aspect-ratio: 519/369.68;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: 0.3s;

            &:hover {
                filter: grayscale(50%);
                    }
        }
    }
}

