.menu {
  padding-inline: 16px 127px;
  padding-block-end: 44px;
  display: flex;
  flex-direction: column;
  gap: 97px;

  @media (768px > width) {
    width: 100%;
    flex-direction: row;
    padding-inline: 16px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (768px > width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    li {
      display: inline-block;
      font-size: 16px;
      list-style: none;
      width: auto;
      @media (768px > width) {
      }
      @media (530px > width) {
        font-size: 14px;
      }
    }

    /* aタグ（またはspan等）に適用 */
    li a {
      display: inline-block;
      position: relative;
      padding-bottom: 5px;
    }

    li a::before {
      content: '';
      background: #393c2a;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform-origin: right top;
      transform: scale(0, 1);
      transition: transform 0.3s;
    }

    li a:hover::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}
