.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 240px;
  user-select: none;
}

.gooey {
  filter: url('#gooey');
}

.char {
  display: inline-block;
  font-size: 100px;
  font-weight: 400;
  color: black;
  font-family: 'Playfair Display', serif;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 15px;
  @media (768px > width) {
    letter-spacing: 3px;
    font-size: 80px;
  }
  @media (530px > width) {
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 300;
  }
}

.gooeyFilter {
  width: 0;
  height: 0;
}
