/* google font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  background-image: linear-gradient(
    0deg,
    rgba(239, 230, 217, 1),
    rgba(214, 178, 146, 1)
  );
  font-family: 'Noto Sans JP', sans-serif;
  color: #393c2a;
  a {
    color: inherit;
    text-decoration: none;
  }
}

/* @media (768px > width) {
}
@media (530px > width) {
} */
